* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin: 0;
  padding: 0;
}

p {
  display: block;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

button {
  display: block;
  cursor: pointer;
  border: transparent;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

label,
input,
textarea {
  display: block;
}

img,
svg {
  display: block;
}

.container {
  width: 1110px;
  padding-left: 95px;
  padding-right: 95px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1480px;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  width: 329px;
  height: 100vw;
  padding-top: 206px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #2d3e4f;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 139px;
  height: 25px;
}

.logo .logo-img {
  fill: #ffffff;
}

.logo .logo-img:hover, .logo .logo-img:focus {
  fill: #cf404d;
}

.header-menu__list {
  margin-top: 79px;
}

.header-menu__item {
  margin-bottom: 40px;
}

.header-menu__item:last-child {
  margin-bottom: 0;
}

.header-menu__link {
  font-style: Oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  text-transform: uppercase;
  color: #ffffff;
}

.header-menu__link:focus, .header-menu__link:hover {
  color: #cf404d;
  font-size: 18px;
  margin: -4px -8px;
}

.header-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-social__link {
  margin-right: 3px;
}

.header-social__link:last-child {
  margin-right: 0;
}

.header-social__icon {
  width: 23px;
  height: 17px;
  fill: #ffffff;
}

.header-social__icon:hover, .header-social__icon:focus {
  stroke: #cf404d;
  stroke-width: 1px;
  width: 25px;
  height: 19px;
  margin-bottom: -2px;
}

.hero-section {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("/img/IMAGE@2x.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/img/IMAGE@2x.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 305px 245px;
}

.hero-title {
  width: 522px;
  margin: 0 auto;
  text-align: center;
  font-family: Oswald;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-btn__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 35px;
}

.hero-btn__title {
  margin-right: 10px;
}

.hero-btn__title:last-child {
  margin-right: 0px;
}

.hero-btn__link {
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.31;
  text-align: center;
  color: #ffffff;
  padding-top: 11px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 112px;
  height: 47px;
}

.hero-btn__link:hover, .hero-btn__link:focus {
  background-color: #cf404d;
  font-size: 18px;
  border: 2px solid #ffffff;
  padding-top: 9px;
}

.heading-section {
  padding-top: 57px;
  padding-bottom: 62px;
}

.heading-section__title {
  text-align: center;
  font-family: Oswald;
  font-size: 31px;
  font-weight: 400;
  line-height: 1.61;
  text-transform: uppercase;
  color: #313131;
}

.heading-section__subtitle {
  text-align: center;
  margin-top: 22px;
  font-family: Droid Sans;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.58;
  color: rgba(115, 115, 115, 0.74);
}

.about-section {
  padding-bottom: 63px;
}

.about-card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-card__item {
  margin-right: 10px;
}

.about-card__item:last-child {
  margin-right: 0;
}

.about-card__icon {
  width: 80px;
  height: 80px;
}

.about-card__icon:hover, .about-card__icon:focus {
  fill: #cf404d;
}

.about-icon {
  width: 50px;
  height: 50px;
}

.about-card__title {
  margin-top: 19px;
  font-family: Oswald;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.77;
  text-transform: uppercase;
  color: #cf404d;
}

.about-card__text {
  margin-top: 11px;
  font-family: Droid Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.33;
  color: rgba(0, 0, 0, 0.74);
}

.about-card__btn {
  margin-top: 7px;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: #cf404d;
}

.client-tecst__section {
  padding-top: 44px;
  padding-bottom: 44px;
  background: #cf404d;
}

.client-text__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.client-text__input {
  font-family: Oswald;
  font-size: 31px;
  font-weight: 400;
  line-height: 1.16;
  width: 100%;
  margin-right: 50px;
  background-color: transparent;
  border: transparent;
}

.client-text__input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.client-text__input:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.client-text__input::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.client-text__input::placeholder {
  color: #ffffff;
  opacity: 1;
}

.client-text__btn {
  width: 127px;
  height: 47px;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.31;
  text-align: center;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
}

.client-text__btn:focus, .client-text__btn:hover {
  border: 4px solid #ffffff;
  color: #cf404d;
  background-color: #ffffff;
}

.life-box__section {
  padding-top: 57px;
  padding-bottom: 72px;
}

.life-box__title {
  margin-bottom: 22px;
  font-family: Oswald;
  font-size: 31px;
  font-weight: 400;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: #313131;
}

.life-box__text {
  font-family: Droid Sans;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.58;
  text-align: center;
  color: rgba(115, 115, 115, 0.74);
}

.gallary-section {
  padding-bottom: 73px;
}

.gallary-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallary-item {
  margin-right: 20px;
  margin-top: 20px;
}

.gallary-item:nth-child(4n + 4) {
  margin-right: 0;
}

.gallary-item:nth-child(-n + 4) {
  margin-top: 0;
}

.contact-section {
  background: #fafafa;
  padding: 64px 175px;
}

.contact-input__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-form__input {
  width: 100%;
  margin-top: 62px;
  margin-right: 21px;
  padding: 13px 0;
  padding-left: 31px;
}

.modal-form__input:last-child {
  margin-right: 0;
}

.modal-form__textarea {
  padding-top: 21px;
  padding-left: 31px;
  margin-top: 17px;
  margin-bottom: 17px;
  width: 100%;
  height: 110px;
  resize: none;
}

.contact-form__btn {
  width: 100%;
  height: 45px;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.31;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  background-color: #cf404d;
}

.contact-form__btn:focus, .contact-form__btn:hover {
  border: 4px solid #ffffff;
  color: #cf404d;
  background-color: #ffffff;
}

.footer {
  padding-top: 24px;
  padding-bottom: 28px;
}

.foter-text {
  text-align: center;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  color: rgba(0, 0, 0, 0.74);
}
/*# sourceMappingURL=style.css.map */